*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    width: 100%;
}

.container{
    box-shadow: 0 0 12px #ccc;
    border-radius: 8px;
    padding: 1rem;

}

input{
    width:100%;
    font-size: 1.2rem;
    padding :8px 4px;
    margin: 8px 0;
    border-radius: 8px;

}

.btn{
    display: block;
    width: 100%;
    font-size: 1.2rem;
    margin: 8px 0;
    padding: 10px 0;
    background-color :black;
    color: #fff;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
}
.btn{
    transition-duration: 0.4s;
}
.btn:hover{
    background-color:white ;
    color:black;
}
.center{
    text-align: center;
    margin: 24px 0;
}

p{
    margin:10px 0;
}

.img-container{
    text-align: center;
}
.img-container img{
    height: 200px;
}